/* Stylesheet by Jon Fok, 2017 */


#mapid {
  height: 500px;
  width: 42%;
  display: inline-block;
}

#panel {
  width: 16%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}

.leaflet-popup-content p {
  margin: 0.2em 0;
}
